p There are {{ sensors.length }} sensors
div(ng-repeat='sensor in sensors')
  div Id: {{ sensor._id }}
  div Type: {{ sensor.type }}
  div Data: {{ sensor._last.value || "-" }}
  div Trigger: {{ fired[sensor._id] || "-" }}

  a(href='/stream/{{ sensor._id }}') stream {{ stream._id }}
