div.row(ng-repeat='home in homes')
  a.btn.btn-default(target="_blank" href='/heatmap/{{ home._id }}') my {{ home.name }}
  span.btn.btn-danger(ng-click="remove(home)") Remove

br

form(ng-submit="submit()")
  input.btn.btn-primary(type="submit" id="add" value="Save the new floor plan")

div.row Motion Sensors
div.row
  div.col-md-1(ng-repeat='device in devices')
    div.btn.btn-default(x-lvl-draggable='true' device='{{device._id}}') {{ device.serial }}

br

div.row
  div.col-md-10.aa Please, draw your floor plan
    div(ng-repeat="r in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]")
      span.slot(row="{{$parent.$index}}" col="{{$index}}"
        ng-repeat="c in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]"
        x-lvl-draggable='true' x-lvl-drop-target="true" x-on-drop="dropped(dragEl, dropEl)")
