h2 Stream of data {{ sensor }}

line-chart(data = 'data', stream = 'stream', start = 'start', end = 'end', sensor = '{{ sensor }}', 
           height = '450', width = '900', unit = 'minutes', period = '1')
  paginator()

