extends layout

block body
  div(ng-controller='DashBoardCtrl')
  div(ng-view)

  script(src='/bower_components/angular-unstable/angular.js')
  script(src='/bower_components/angular-resource-unstable/angular-resource.js')
  script(src='/bower_components/underscore/underscore.js')
  script(src='/socket.io/socket.io.js')
  script(src='javascripts/app.js')
  script(src='javascripts/services.js')
  script(src='javascripts/controllers.js')
  script(src='javascripts/filters.js')
  script(src='javascripts/directives.js')