html(ng-app="casApp")
  head
    meta(charset='utf8')
    title Real time context aware graphics display
    link(rel='stylesheet', href='/stylesheets/app.css')
    link(rel='stylesheet', href='/stylesheets/graph.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
  body
    block body
