html(ng-app="casApp")
  head
    meta(charset='utf8')
    title Real time context aware graphics display
    link(rel='stylesheet', href='/stylesheets/app.css')
    link(rel='stylesheet', href='/stylesheets/graph.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
  body
    header.navbar.navbar-default.navbar-static-top(id='top' role='banner')
      div.container
        div.navbar-header
          a.navbar-brand(href="/") Ekauri
    div.container
      block body
