@charset UTF-8;
/*
 * Graph canvas stylesheet
 */

.data {
  stroke: green;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis {
  line {
    stroke: lightgrey;
  }
  .minor {
    stroke-opacity: .5;
  }
  path {
    display: none;
  }
  text {
    font-size: 10px;
  }
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}

.y.axis text {
  font-size: 10px;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

path {
  fill: steelblue;
}

